SrvMon-Agent/Jake.Service/Service References/Bubblegum/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bubblegum.laberko.net" elementFormDefault="qualified" targetNamespace="http://bubblegum.laberko.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://bubblegum.servermonitor.online/CandyKingdom/Server.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://bubblegum.servermonitor.online/CandyKingdom/Server.svc?xsd=xsd2" namespace="http://laberko.net" />
  <xs:element name="GetConfigChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serverId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfigChangedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://laberko.net" minOccurs="0" name="jakeParams" nillable="true" type="q2:SrvMonParams" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://laberko.net" minOccurs="0" name="GetConfigResult" nillable="true" type="q3:SrvMonParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://laberko.net" minOccurs="0" name="summary" nillable="true" type="q4:SrvMonSummary" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>